<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Exercice #1
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <h5 class="card-title">Not using d3.scaleLinear()</h5>
        <div class="chart border border-primary chartBase" style="width: 320px;"></div>
      </div>
      <div class="card-body">
          <h5 class="card-title">Using d3.scaleLinear()</h5>
        <div class="chart2 chartBase border border-primary" style="width: 320px;"></div>
      </div>
    </div>
  </div>
